/* comments */
.comments {
    padding: 25px 0 32px;
}

.single-comment,
.add-comment {
    padding: 0 20px;
}

.add-comment {
    
}

.single-comment .img-wrapper {
    display: inline-block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 18px;
}
.single-comment .img-wrapper .profile-img {
    height: 100%;
    width: auto;
    filter: grayscale(100%);
    transition: filter .4s;
}
.single-comment:hover .img-wrapper .profile-img {
    filter: none;
}
