/* comments */
.comments {
    padding: 25px 0 32px;
}

.comment-list {
    overflow-y: auto;
	max-height: 674px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition: all .5s;
    margin-bottom: 36px;
}
.comment-list.hidden {
    max-height: 0;
}

.toggle-comments {
    color: #ffa640;
    text-decoration: underline;
    border: 0;
    background: transparent;
    font-size: inherit;
    transition: color .2s;
    padding: 0 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.toggle-comments:hover,
.toggle-comments:focus {
    color: #002c71;
    outline: 0;
}

.single-comment,
.add-comment {
    padding: 0 20px;
}

.single-comment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
    margin-top: 30px;
}

.single-comment .img-wrapper {
    display: flex;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 12px;
}
.single-comment .img-wrapper .profile-img {
    height: 100%;
    width: auto;
    filter: grayscale(100%);
    transition: filter .4s;
}
.single-comment:hover .img-wrapper .profile-img {
    filter: none;
}

.single-comment .text-box .author {
    position: relative;
    margin-top: 10px;
}
.single-comment .text-box .author .time {
    position: absolute;
    color: rgb(0, 44, 113, .5);
    font-size: 14px;
    right: 0;
}
.single-comment .text-box .text {
    line-height: 21px;
    margin-bottom: 25px;
}
