@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat Semibold'), url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tile {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(172, 172, 172, .5);
  border-radius: 5px;
}


.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


button.like,
button.share {
  border: 0;
  background-color: transparent;
  padding: 0 10px;
  cursor: pointer;
}

button.btn:focus,
button.like:focus,
button.share:focus {
  outline: none;
}

button.btn:focus {
  /* background-color: #df7700; */
}

button.btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #ffa640;
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  letter-spacing: 4.2px;
  border: 0;
  border-radius: 100px;
  padding: 14px 22px;
  cursor: pointer;
  transition: background-color .2s;
}

button.btn:hover {
  background-color: #df7700;
}

input[type="text"] {
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #dbe0e8;
  transition: all .3s;
}
input[type="text"]:focus {
  outline: 0;
  border-bottom-color: #002C71;
}

input[type="text"]::placeholder {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #8298B9;
  transition: all .3s;
}
input[type="text"]:hover::placeholder {
  color: #002C71;
}
input[type="text"]:focus::placeholder {
  color: #8298B9;
}
